# macOS
.DS_Store

# Xcode
DerivedData/
xcuserdata/
*.xcuserstate
*.xccheckout
*.moved-aside
*.xcscmblueprint

# SwiftPM
.build/

# Fastlane (if you add later)
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/
fastlane/test_output/
